@using WebApplication1.Models
@model LoginViewModel
@{
    ViewBag.TITTLE = "Sign In";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebApplication1 | @ViewBag.Title</title>
    @Styles.Render("~/ADMINLTE/css")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">

            @using (Html.BeginForm("SignIn", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card-header text-center">
                    <a href="#" class="h1"><b>WEB</b>APP</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Login to start your session</p>

                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.UseId, new { @class = "form-control", @placeholder = "Username", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.UseId, "", new { @class = "text-danger" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off", @type = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-12">
                                <button id="btn_submit" type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            }



        </div>
    </div>
    <script src="~/Themes/ADMINLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/Themes/ADMINLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Themes/ADMINLTE/dist/js/adminlte.min.js"></script>
    <script src="~/Themes/ADMINLTE/plugins/toastr/toastr.min.js"></script>
    
    @{
        if (TempData["FAILED"] != null)
        {
            <script type="text/javascript">
                alert('@TempData["FAILED"]')
            </script>
        }
        if (TempData["SUCCESS"] != null)
        {
            <script type="text/javascript">
                alert('@TempData["SUCCESS"]')
            </script>
        }
    }

</body>
</html>


